PORT=3000
NODE_ENV=production


# MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=collage_user
DB_PASSWORD=strongpassword
DB_NAME=collage_db


# AWS S3
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
AWS_REGION=us-east-1
S3_BUCKET=your-collage-bucket
S3_STATIC_PREFIX=static


# Optional: public URL prefix where static assets will be served from (S3 or CDN)
STATIC_URL=https://your-collage-bucket.s3.amazonaws.com
